.carousel-root {
  width: 100vw;
}

.carousel {
  .thumbs-wrapper {
    display: none;
  }
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover,
.carousel-status {
  opacity: 0;
}
