.about-content-page-wrapper,
.content-page-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 50px 100px;

  .contact-bullet-points {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 21px;

    .bullet-point-group {
      display: flex;
      align-items: center;

      .text {
        font-size: 1.5em;
        font-weight: 900;
        margin-left: 21px;
      }
    }
  }
  h3 {
    font-size: 1.3em;
  }
  img {
    margin: 0px 50px;
    width: 60%;
  }
}

.content-page-wrapper {
  grid-template-columns: 1fr 2fr;
  img {
    padding-left: 100px;
  }
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  .admin-view {
    margin: 15px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .session-scheduled {
      font-size: 1.5rem;
      padding: 50px 10px;
    }
  }
}

@media only screen and (max-width: 749px) {
  .about-content-page-wrapper,
  .content-page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;

    .contact-bullet-points {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 21px;

      .bullet-point-group {
        display: flex;
        align-items: center;

        .text {
          font-size: 1.5em;
          font-weight: 900;
          margin-left: 21px;
        }
      }
    }

    img {
      margin: 0px 0px 50px 0px;
      width: 100%;
    }
  }
  .admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    .admin-view {
      margin: 15px 25px;
      display: grid;
      grid-template-columns: 1fr;

      .session-scheduled {
        font-size: 1.5rem;
        padding: 50px 10px;
      }
    }
  }

  .content-page-wrapper {
    display: flex;
    flex-direction: column-reverse;
    img {
      padding-left: 0px;
    }
  }
}
