.content-page-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;

  .contact-bullet-points {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 21px;

    .bullet-point-group {
      display: flex;
      align-items: center;

      .text {
        font-size: 1.5em;
        font-weight: 900;
        margin-left: 21px;
      }
    }
  }
}
