.popper-btn {
  bottom: 15px;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
}

// body > div:nth-child(5) > div > div:nth-child(2) {
//   background-color: #e8e4db;
// }

.poppop {
  padding: 0px 0px 50px 0px;
  .date-to-string {
    margin: 25px;
  }
  .poppop-info {
    div {
      font-size: 0.9em;
      .grayed {
        padding-top: 15px;
        color: gray;
      }
    }
  }
}
.popper-btns-wrapper {
  .morning {
    left: 15px;
  }
  .afternoon {
    right: 15px;
  }
}

.usr-contact {
  div {
    display: flex;
    flex-direction: column;
    input {
      margin: 7px;
      padding: 5px;
      border-radius: 5px;
    }
  }

  .pop-btns {
    button {
      display: flex;
    }
    .pop-back-btn {
      left: 15px;
    }
    .pop-submit-btn {
      right: 15px;
    }
  }
}
